body {
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
    background-color: white;
    color: #212121;
}

.modal, .confirmation-modal {
    z-index: 100000;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.62);
    width: 100%;
    height: 100%;
}

.modal-confirmation-box{
    width: 500px;
    background-color: white;
    padding: 20px;
}

.main-column{
    height: auto;
    flex-basis: 70%;
    -webkit-flex-basis: 70%;
    margin: 0 auto;
    border: 1px solid #e2eaf1;
    overflow-x: hidden;
    border-radius:15px;
}

.big-main-column{
    height: auto;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    margin: 0 10px;
    border: 1px solid #e2eaf1;
    overflow-x: hidden;
    border-radius:15px;
}

.full-height{
    height: 100vh;
}

@supports (-webkit-appearance:none) {
    .full-height {
        /*height: calc(100vh - 56px);*/
    }
}

.center-items{
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.side-drawer{

}

.nav-icon{
    width: 32px;
    height: 32px;
    padding: 4px;
}

@media all and (max-device-width: 767px){
    .nav-icon{
        width: 28px;
        height: 28px;
    }
}

.nav-icon-container:hover svg{
    background-color: #219ef31c !important;
}

.nav-icon-container:hover svg path{
    fill: #2397f3 !important;
}

.side-drawer-branch{
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgb(226, 234, 241);
}

/* This is where we can add the transition*/
.side-drawer-enter-active, .side-drawer-appear-active {
    transform: translateX(0);
    transition: all 200ms;
}

.side-drawer-enter, .side-drawer-appear {
/*We give the list the initial dimension of the list button*/
    transform: translateX(-100%);
    transition: all 200ms;
}
/* This is where we can add the transition*/
.side-drawer-enter-active, .side-drawer-appear-active {
    transform: translateX(0);
    transition: all 200ms;
}

.side-drawer-exit {
    transform: translateX(-100%);
    transition: transform 100ms !important;
}

.side-drawer-exit-active {
    transform: translateX(-100%);
    transition: transform 100ms !important;

}

.auth-drawer-item{
    text-decoration: none;
    color: black;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    border-bottom: 1px solid rgb(226, 234, 241);
    font-size: 2em;
    height: 15%;
    padding: 0 30px;
}

.mobile-navigation {
    height:60px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
    align-items: center;
    bottom: 0;
}

.box-border{
    border: 1px solid #e2eaf1;
}

.user-color{
    color:#2196F3;
}

.page{
    display: inline;
}

.main-wrapper{
    display: inherit;
    padding-top: 60px;
}

.form-succeed-message{
    font-size: 1.6rem;
    padding: 10px;
    background-color: #03a9f4;
    color: white;
    font-weight: 500;
}

.form-error-message{
    font-size: 1.6rem;
    padding: 10px;
    background-color: #F44336;
    color: white;
    font-weight: 500;
}

.settings-wrapper{
    width: 60%;
}

.settings-option{
    width: 60%;
    padding: 10px;
    margin: 0 auto;
}

.wide-content-container{
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display:flex;
    position: relative;
    max-width: 1200px;
}

.wide-content-container > div{
    width:100%;
}

.mobile-menu{
    display: none;
    z-index: 100;
    width: 100%;
}

.accept-btn{
    background-color: #219ef3;
    border: 0;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.6rem;
    margin: 10px;
    font-weight: bold;
}

.decline-btn{
    border: 1px solid #717171;
    color: #717171;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.6rem;
    margin: 10px;
    background-color: transparent;
    font-weight: bold;
}

.accept-btn, .decline-btn{
  position: relative;
  overflow: hidden;
  margin :10px;
}

.accept-btn:after, .decline-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    margin-left: 2px;
    color: #b3b3b3;
}

div[data-placeholder]{
    outline: none;
}

.no-highlight{
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.accept-btn:focus:not(:active)::after, .decline-btn:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.editor-btn{
    background-color: #219ef3;
    border: 0;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1.5rem;
    margin: 0;
}

.messenger-editor{
    flex-flow:column;
    -webkit-flex-flow: column;
    z-index: 6;
    display: block !important;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    background-color: white;
}

.chat-headline{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.video-container{
 /*min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
    height:100%;
}

.video-container > div{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-self: stretch;
    -webkit-align-self: stretch;
    height:initial !important;
}

.new-circle{
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: #03A9F4;
    right: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid white;
}

.close-button{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 10px;
}

.close-button svg{
    background-color: #00000082;
    border-radius: 50%;
}

.LazyLoad{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.zoom-container{
    width:100%;
}

.zoom-container > div{
    width: 100%;
}

.load-spinner-wrapper{
    align-items: center;
    -webkit-align-items: center;
    flex-flow: column;
    -webkit-flex-flow: column;
    margin-top: 50px;
}


.name-missing{
    flex: 1 1 auto;
    align-items: center;
    display: flex;
}

.mobile-top-bar-container{
    display: flex;
    border-bottom: 1px solid #0B4051;
    height: 50%;
    background: #19586D;
}

.mobile-top-bar{
    flex: 1 1 auto;
    align-items: center;
    display: flex;
}

.profile-dropdown-container{
    box-shadow:0 0 1px 1px #0000001a;
    flex-flow:column;
}

.profile-dropdown-option{
    margin: 0;
    padding: 10px 15px;
    font-size: 1.5rem;
    text-decoration: none;
}

.profile-dropdown-option:hover{
    background-color: #2196f3 !important;
    color: white !important;
    cursor: pointer;
    text-decoration: underline;
}

.search-container{
    width: 100%;
    display: flex;
    padding: 2px;
}

.search{
    flex-grow: 2;
    border: none;
    background: none;
    color: whitesmoke;
    padding-left: 30px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid white;
    position: absolute;
    bottom: 0;
    left:31px;
}

.arrow-upper {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #4a4a4a38;
    position: absolute;
    bottom:0;
    left: 30px;
}

.search-button{
    height: 60px;
    outline: none;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 50px;
    padding: 0 15px;
    font-size: 1.8em;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    -webkit-transition: 0.1s box-shadow ease;
    transition: 0.1s box-shadow ease;
}

.search-button:hover{
    /*border: 2px solid #2196F3 !important;*/
    box-shadow: 0 0 1px 2px #2196F3;
}

.search-small-result:hover{
    text-decoration: underline !important;
}

.side-bar-container{
    position: fixed;
    width:250px;
    z-index: 5;
}

.branch-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    width: 100%;
    background-color: #194a5a;
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
    z-index: 10;
}

.utility-side-bar{
    background-color: #1B5163;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(222, 235, 255);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 64px;
    padding: 16px 0px;
}

.utility-top{
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    text-align: center;
}

.right-page-bar-container{
    width:100%;
	position:relative;
    background-color:#19586D;
    text-align: center;
}

.ratio-bar{
    -webkit-transition: width 0.3s ease-in-out, padding-left 1s ease-in-out,
        padding-right 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out, padding-left 1s ease-in-out,
        padding-right 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, padding-left 1s ease-in-out,
        padding-right 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, padding-left 1s ease-in-out,
        padding-right 0.3s ease-in-out;
}

.slider{
    transform: translateX(-100%);
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #6490a0 radial-gradient(circle, transparent 1%, #5e8896 1%) center/15000%;
}

.ripple:active {
    background-color: #6092a5;
    background-size: 100%;
    transition: background 0s;
}

.utility-buttons-container{
    font-size: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 70px;
    width: 100%;
    vertical-align: middle;
}

.utility-buttons{
    margin: 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(221, 221, 221);
    color: #252525;
}

.utility-buttons:active{
    background-color: #518ca2 !important;
}

.utility-buttons:hover{
    background: #6490a0 radial-gradient(circle, transparent 1%, #5e8896 1%) center/15000%;
}

.mobile-buttons-container{
    width: 100%;
    height: 50px;
    z-index: 3;
    background: #19586D;
    position: fixed;
    display: none; 

}

.mobile-buttons{
    width: 28%;
    height: 100%;
    border:0;
}

.profile-picture{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 72px;
    height: 72px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.round-picture{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    border: 0;
}

.feed, .my-groups, .map{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
    color: white;
    width: 100%;
}

.feed, .my-groups, .map, .feed:visited, .my-groups:visited, .map:visited{
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
}

.main-buttons{
    font-size: 1.4rem;
    display: inline-block;
    line-height: 50px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.mobile-slider{
    margin-top: 55px !important;
}

.top-bar{
    width: 100%;
    position: fixed;
	top:0;
    background-color: #4A8396;
    height: 7%;
    order: 1;
	-webkit-order: 1;
    /*pointer-events:none;    ftiaksimo*/ 
}

.player-wrapper{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgb(152, 152, 152);
    margin: 10px 10px 10px 0;
}

.player-wrapper video{
    object-fit: cover;
}

.active-tab-route svg path{
    fill: #2397f3 !important;
}

.inputfile {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
    visibility: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
}

.inputfile + label:hover svg{
    background-color: #49c6ff;
}

.inputfile + label:hover svg path{
    fill:white;
}

.inputfile + label {
	cursor: pointer;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.messenger-icon{
    fill: #607d8b;
    height: 32px;
    width: 32px;
    padding: 5px;
    border-radius: 50%;
}

.setting-input{
    padding: 5px 10px;
    font-size: 1.7em;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
}

.setting-label{
    font-weight: 600;
    font-size: 1.5em;
    color: #333;
    padding: 20px 0 5px;
}

.setting-error{
    font-size: 1.5rem;
    color: #F44336;
    margin: 5px 0;
    display: block;
    font-weight: 500;
}

.setting-correct{
    font-size: 1.5rem;
    color: #2196F3;
    margin: 5px 0;
    display: block;
    font-weight: 500;
}

.form-save-button{
    padding: 8px 16px;
    border-radius: 25px;
    border: 0;
    background-color: #03A9F4;
    color: white;
    font-size: 1.6rem;
    margin: 20px 0;
}

button[disabled=disabled], button:disabled {
    background-color: #b5b5b5;
}

.toggle-switch.react-toggle--checked .react-toggle-track {
    background-color: #46c3ff !important;
}

.branch-profile-setting{
    height:100%;
    object-fit: cover;
    border: 1px solid transparent !important;
}

.branch-banner-setting{
    height:100%;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid white;
}

.branch-banner-setting:hover, .branch-profile-setting:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 3px #2196F3;
    -moz-box-shadow: 0 0 0 3px #2196F3;
    box-shadow: 0 0 0 3px #2196F3;
}

.setting-info{
    font-size: 1.1rem;
    color: #545454;
    margin: 5px 0;
    display: block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.avatar-banner-wrapper{
    height: 100px;
}

.success-message-container{
    position: absolute;
    bottom: 0;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 100px;
    border: 1px solid black;
    z-index: 100;
    background-color: green;
    text-align: center;
}

.back-button{
    margin: -10px 0px;
    margin-left: -10px;
    padding-top: 7px;
    background-color: transparent;
    border: 0px;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.load-more{
    padding: 10px;
    margin: 10px;
    border: 0;
    border-radius: 15px;
    background-color: #2196f3;
    color: white;
    font-weight: 600;
}

.load-more:hover{
    background-color: #006dc3;
}

.login-or-register{
    font-size: 2rem;
    color: rgb(143, 156, 167);
    padding: 10px;
    border-radius: 25px;
}

.login-or-register:hover{
    background-color: #f7f7f7;
}

.update-notification{
    position: fixed;
    top: -100px;
    transform: translateY(0px);
    left: 0;
    width: 100%;
    z-index: 23423423423432;
    transition: 0.3s transform ease-out;
}

.show-update-notification{
    transform: translateY(150px);
}

.update-box{
    width:200px;
    height:60px;
    padding: 10px;
    background-color: #1d1d1d;
    border-radius: 50px;
    color:white;
    font-size: 1.4rem;
    font-weight: bold;
    margin:0 auto;
    cursor: pointer;
    text-align: center;
}

@media all and (max-device-width: 1223px){
    .main-column{
        margin: 0;
        border: 0 !important;
        flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
    }
    
    .wide-content-container{
        display: block;
        padding-bottom: 60px;
    }

    .big-main-column{
        padding-bottom: 0;
        border: 0 !important;
        margin: 0;
    }

    .main-wrapper{
        margin-top: 0;
        padding-top: 0;
    }

    .settings-wrapper{
        width: 100%;
        padding: 10px;
    }

    .settings-option{
        width:100%;
        padding: 0;
    }
}

@media all and (max-device-width: 767px){
    .avatar-banner-wrapper {
        height: 80px;
    }
}

@media all and (max-width: 767px){
    .modal-confirmation-box{
        width: 80%;
    }
}

@media all and (max-width: 1223px) {
    .root-wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .utility-side-bar{
        display: none;
    }

    .utility-buttons{
        display: none;
    }

    .mobile-buttons-container{
        display: inherit; 
     }

    .drawer-btn{
        right: 0;
        left: unset;
        margin: 0 10px 0 0 !important;
    }

    .slider{
        transform: translateY(-100%);
    }

    .closed-drawer-container{
        display: none;
    }

    .drawer-container{
        display: none;
    }

    .feed, .my-groups, .map{
        display: none;
    }

    .main{
        margin-top: 100px;
    }
    .mobile-menu{
        position: fixed;
        display: block;
    }

    .side-bar-container{
        display: none;
    }

    .top-info-message{
        width:70%;
        margin-top: 20px;
    }
  }


.flex-fill {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }

.top-info-message-wrapper{
    pointer-events: none;
    font-size: 2rem;
    color: rgb(149, 166, 181);
    padding: 10px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    align-items: center;
    -webkit-align-items: center;

    z-index: 9999999;
}

.top-info-message{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transiton: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.63);
    width: 40%;
    background-color: #219ef3;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px;
}

.info-message{
    color: #708698;
    font-size: 1.9rem;
    padding: 10px;
}

.linkified{
    color:inherit;
}

.fade-enter {
  opacity: 0;

}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-done{
    display: none;
}

.text-wrap{
    word-break: break-all;
    -ms-word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.react-tooltip-absolute{
    position:absolute !important;
}

.pinch-to-zoom-container{
    width:100%;
}

.infinite-scroll-component > div:first-child{
    width: auto !important;
}

.spin360{
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;

    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

a,button::-moz-focus-inner { /* removes dotted outline firefox */
    border: 0;
  }

a,button { /* removes outline */
    cursor: pointer;
    -moz-outline-style: none; 
    outline-style: none;
    outline: none;
}

input,button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,textarea{
    background-color:transparent;
}

* {
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}