
.branch-profile-container{
    position:absolute;
    margin-top: auto;
    margin-bottom: auto;
    border-radius:  50%;
}

.branch-container{
    margin-top: 10px;
    width: auto;
    min-width: 250px;
    max-width: 40%;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    margin: 10px;
    flex-flow: column;
    -webkit-flex-flow: column;
}

.under-banner-info{
    position: relative;
    width:100%;
}

.branch-name{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: start;
}

.group-banner{
    width: 200px;
    background-color: rgb(231, 231, 231);
    display: inline-block;
    padding-top: 40.25%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.parent{
    flex-basis: 60%;
}

.group-join{
    border: 0;
    background-color: #004796;
    height: 40px;
    font-size: initial;
    font-weight: bold;
    font-family: Arial;
    color: #f8f8f8;
    flex-basis: 20%;
}

.branch-navigation-container{
    width:400px;
    margin-left: 270px;
    height: 60px;
}

.branch-navigation-button{
    font-weight: 500;
    text-decoration: none;
    color: #2d2d2d;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
}

.clicked-navigation-button{
    font-weight: bold;
    border-bottom: 3px solid #2196F3;
    color:#2196F3 !important;
}

.navigation-button-text{
    flex-basis: 100%;
    font-size: 2em;
    align-self: center;
    -webkit-align-self: center;
}

.small-branch-container{
    margin: 10px 0;
}

.small-branch{
    text-decoration: none;
    color:rgb(35, 35, 35);
    flex: 1 1 auto;
}

.small-branch:hover{
    text-decoration: underline;
}

.branch-settings-container{
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.branch-details-children{
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.branch-footer{
    height: 200px;
    flex-flow: column;
    align-items: center;
}

.branch-description{
    font-size: 1.5em;
    flex-basis: 50%;
}

.banner-editmode{
    font-size: 2em;
    padding: 20px!important;
    top:50%;
    width:35% !important;
}

.branch-parent-picture{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    z-index: 4;
    object-fit: cover;
}

.branch-child-picture{
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: 20px;
    bottom: -60px !important;
    width: 100px;
    height: 100px;
}

.post-list{
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    width: 100%;
    padding:0;
    margin-left:20px;
    border: none !important;
}

@media all and (max-device-width: 1223px) {
    .post-list{
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        border:none !important;
        margin: 0;
        padding-bottom: 60px;
    }
}

.post-to-branch-container{
    width: 400px;
    margin: 60px auto 0px;
    background-color: white;
}

.post-to-branch-tab-list{
    display:flex;
    margin:0;
    padding:20px 0;
    justify-content: space-around;
}

.post-to-branch-tab-list-selected{
    border-bottom: 3px solid #2196f3;
}

.post-to-branch-tab{
    display:block;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.post-to-branch-tab-panel{
    padding:15px 20px;
    height:500px;
    overflow: auto;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #d2d2d2;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #009BFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #009BFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    opacity:0;
    z-index: 999;
    /*-webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;*/
}

.front-page-list-item{
    font-weight: 600;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #2196F3;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.front-page-list-item:hover{
    background-color: #1187e4;
}

.filter-selector-wrapper{
    position: relative;
    font-size: 1.4em;
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: #f5f5f5;
}

.filter-selector-wrapper:hover, .filter-action-arrow:hover{
    background-color: #f5f5f5;
}

.branch-switcher-preview{
    width: auto;
    border-radius:50%;
}

.branch-switcher-preview:hover{
    cursor: pointer;
}

.filter-action-arrow{
    position: relative;
    font-size: 2em;
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: #0081d8;
    -webkit-justify-content: center;
    justify-content: center;
}

.filter-action-arrow-button{
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

@media (hover: none) {
   .filter-selector-wrapper {
      background-color: transparent !important;
   }
}

.filter-selector{
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    width: 100%;
    height: 100%;
}

.filter-selector:hover{
    cursor: pointer;
}

/*.pages-enter {
  opacity: 0;
  transform: scale(1.1);
}*/

.pages-enter .post-list,  .pages-enter .main-column, .pages-enter .big-main-column,
.pages-enter .mobile-branch-front-page{
    transform: translateX(-100%);
    /*opacity: 0;*/
}

/*.pages-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}*/

.pages-enter-active .post-list,  .pages-enter-active .main-column, .pages-enter-active .big-main-column,
.pages-enter-active .mobile-branch-front-page{
    transform: translateX(0);
    /*opacity: 1;*/
    transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1);
}

/*.pages-exit {
  opacity: 1;
  transform: scale(1);
}*/

.pages-exit .post-list,  .pages-exit .main-column, .pages-exit .big-main-column,
.pages-exit .mobile-branch-front-page{
    transform: translateX(0);
    opacity: 1;
}

/*.pages-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}*/

.pages-exit-active .post-list,  .pages-exit-active .main-column,.pages-exit-active .big-main-column,
.pages-exit-active .mobile-branch-front-page{
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.mobile-transition-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.mobile-transition-container::-webkit-scrollbar {
    display: none;
}

.switch-wrapper{
    width:100%;
}

.switch-wrapper > div{
    display: flex;
    width: 100%;
}

div.route-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

.filter-dropdown{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    flex-flow: column;
    min-width: 500px;
    max-height: 500px;
    box-shadow: 0 2px 8px -4px #585858;
    border-radius: 10px;
    padding: 10px 0;
    overflow: auto;
    z-index: 55;
    width:max-content;
}

.filter-dropdown-item{
    padding: 2px 10px;
}

.filter-dropdown-item:hover{
    background-color: #81c7f7 !important;
    color:white;
    cursor: pointer;
}

.post-profile-picture{
    object-fit: cover;
    width: 40px;
    height: 40px;
    background: no-repeat;
    border: 0;
}

.post-text{
    font-size: 1.5rem;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-line;
}

.post-image-wrapper{
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    max-height: 620px;
    width: 100%;
}

.post-image-wrapper > div:last-child{
    width: 100%;
    overflow: hidden;
}

.post-image-gallery{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-transition: left 0.15s ease;
    -moz-transition: left 0.15s ease;
    -ms-transition: left 0.15s ease;
    -o-transition: left 0.15s ease;
    transition: left 0.15s ease;
}

.image-arrow-button{
    z-index: 1;
    border: 0;
    height: 50%;
    width: 9%;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    position: absolute;
    top: 25%;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.branch-type-selection-bar{
    background-color: #2196f3;
}

.branch-type-selection-wrapper{
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    color: white;
    font-size: 1.4em;
}

.branch-selection{
    height: 100%;
    flex-basis: 33%;
    -webkit-flex-basis: 33%;
}

.branch-selection:hover {
    background-color: #1888e2;
}

.branch-add-button{
    flex-flow: column;
    -webkit-flex-flow: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex-basis: 33%;
    -webkit-flex-basis: 33%;
}

.branch-add-button:hover{
    background-color: #f7f5f5;
}

/*.branch-add-button:hover .branch-add-icon{fill: #2196f3  !important;}
.branch-add-button:hover .branch-add-text{color: #2196f3;}*/

.star:hover .star-icon{stroke: #fb4c4c  !important;}
.star:hover .star-count{color: #fb4c4c !important;}


.dislike-icon{
    height: 18px;
    width: 18px;
}

.more-icon{
    border-radius: 50%;
    padding:4px;
    cursor: pointer;
}

.more-icon:hover{
    background-color: #e5e9ea;
}

/*.dislike-icon path{
    fill:rgb(67, 78, 88);
}
.dislike:hover .dislike-icon path{fill: #2196f3  !important;}
*/

.dislike:hover .dislike-icon{stroke: #3c3fff  !important;}

.comments:hover .comments-icon path{fill: #1fab89  !important;}
.comments:hover .comments-count{color: #1fab89 !important;}

.spread:hover .spread-icon path{fill: #2196f3  !important;}
.spread:hover .spread-count{color: #2196f3 !important;}

.self-spread-count{
    position: absolute;
    margin-left: 10px;
    padding-top: 3px;
    color: #434e58c7;
    font-weight: bold;
    color: #2196f3;
    transition: all 0.1s ease;
    font-size: 1em;
}

.remove-media-btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00000085;
    border: 0;
    margin: 4px;
    color: white;
}

.branch-add-icon{
    fill: #97a6b3;
    width: 80px;
    height: 80px;
}

.branch-add-text{
    color:#97a6b3;
    font-size: 1.3rem;
    font-weight:bold;
    text-align: center;
}

.standard-border{
    border: 1px solid #efefef;
}

.more-btn-container{
    background-color: white;
    z-index: 20;
    -webkit-box-shadow: 0px 1px 3px 0px #9c9c9c;
    -moz-box-shadow: 0px 1px 3px 0px #9c9c9c;
    box-shadow: 0px 1px 3px 0px #9c9c9c;
    border-radius: 5px;
    overflow: hidden;
    width: max-content;
    font-size: 1.8rem;
}

.more-option{
    padding: 5px;
    cursor: pointer;
}

.more-option:hover{
    background-color: #eaeaea;
}

.post{
    border-bottom: 1px solid rgb(226, 234, 241);
    padding: 10px;
    display: flex;
    transition: opacity 0.1s ease-in-out;
    position: relative;
}

[postState="closed"]:hover{
    cursor: pointer;
}

/*.preview-post .post:hover{
    cursor: pointer;
}*/
.preview-post{
    width:100%;
    cursor:pointer;
    -webkit-tap-highlight-color: transparent;
}
/*@media (hover: none) {
   [postState="closed"] {
      background-color: white !important;
   }
}*/

.associated-branches{
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    font-size: 1rem;
}

.reply{
    font-size: 0.7rem;
}

/*.react-swipeable-view-container {
    display: -webkit-box;
    display: -ms-flexbox;
    transition: -webkit-transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s !important;
}*/

.react-swipeable-view-container{
    height: 100%;
}

.react-swipeable-view-container {
    transition: -webkit-transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s;
}

.main-post{
    opacity: 1!important;
}

.secondary-post{
    opacity: 0.5;
}

.post-actions{
    height: 30px;
    margin-top: 10px;
    align-items: center;
    width: 50%;
}

.post-action-svg{
    fill: transparent;
    stroke: rgb(67, 78, 88);
    stroke-width: 4;
    height: 18px;
    width: 18px;
    overflow: visible;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.post-action-container{
    width: 100%;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.star-clicked{
    stroke-width: 0 !important;
    fill:#fb4c4c !important;
}

.dislike-clicked{
    stroke-width: 0 !important;
    fill:#3c3fff !important;
}


.comments-clicked{
    stroke-width: 0 !important;
    fill:#03A9F4 !important;
}


.spread-box{
    height: 100px;
    width: 400px;
    margin-left: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 7px;
    z-index: 10;
}

.spread-button{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.75);
}

.spread-button:hover{
    background-color: #f3f3f3;
}

.spread-url:hover{
    cursor:default;
}

.spread-clipboard-input{
    margin: 0;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.75);
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.spread-url-hidden-btn{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    border: 0
}

p.top-spread-list{
    padding-top: 2px;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 600;
    word-break: break-word;
}

div.top-spread-list{
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.hoverable-box{
    transform:translateX(-50%);
    -ms-transform:translateX(-50%); /* IE 9 */
    -moz-transform:translateX(-50%); /* Firefox */
    -webkit-transform:translateX(-50%); /* Safari and Chrome */
    -o-transform:translateX(-50%); /* Opera */
    position: absolute;
    left: 50%;
    top: 40px;
}

.notification{
    font-size: 1.6rem;
    padding: 10px;
}

.notification:hover{
    background-color: #edf2f7;
}

.notification-timestamp{
    padding: 10px;
    font-size: 1.2rem;
    color: #738790;
}

.arrow-right{
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #c1d3e2;
}

.following-main{
    color:#2196F3;
    border: 2px solid #2196F3;
    background: transparent;
}

.following-main:disabled{
    background-color: transparent !important;
}

.following-secondary{
    color:white;
    border: 2px solid #2196F3;
    background-color: #2196F3;
}

.following-secondary:disabled{
    background-color: #2196F3 !important;
}

.following-secondary:hover{
    background-color: #1888e2 !important;
    border: 2px solid #1888e2 !important;
}

.following-main:hover{
    background-color: #2196f329 !important;
}

.create-new-branch{
    margin: 10px 0;
    height: 48px;
    border-radius: 25px;
    border: 1px solid #e2eaf1;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-size: 1.3rem;
    color: #8f9ca7;
    text-decoration: none;
}

.create-new-branch:hover{
    background-color: #f0f4f7;
    cursor: pointer;
}

.double-border {
    background-color: transparent;
    border: 2px solid #2196f3;
    padding: 0.1em;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
}
.double-border:before {
    background: none;
    border: 2px solid #2196f3;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    pointer-events: none;
}

.double-border-orange {
    background-color: #fff;
    border: 2px solid #f38321;
    padding: 0.2em;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
}
.double-border-orange:before {
    background: none;
    border: 2px solid #f38321;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    pointer-events: none;
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.infinite-scroll-component > div > div{
    outline: none;
}

.react-ripples{
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

.opacity-animation{
    -webkit-transition: opacity .10s ease-in-out;
    -moz-transition: opacity .10s ease-in-out;
    -ms-transition: opacity .10s ease-in-out;
    -o-transition: opacity .10s ease-in-out;
    transition: opacity .10s ease-in-out;
}

@media all and (max-device-width: 767px){

    .branch-selection{
        font-size:0.8em;
    }
    .post-to-branch-container{
        width: 100%;
    }

    .post-to-branch-tab-panel{
        height: 50vh;
    }
}

@media all and (max-device-width: 1223px){

    .branch-container{
        max-width: 100%;
    }

    .create-new-branch{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border:0;
        font-size: 1.3rem;
    }

    .branch-type-selection-wrapper{
        width: 100%;
    }

    .filter-dropdown-item{
        padding: 10px 10px;
    }

    .post-actions{
        width: 80%;
    }
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.slide-top {
	-webkit-animation: slide-top 0.2s cubic-bezier(0.42, 0.0, 0.58, 1.0) both;
	        animation: slide-top 0.2s cubic-bezier(0.42, 0.0, 0.58, 1.0) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@media all and (max-width: 1200px) {
    .parent{
        padding-right: 0;
    }

    .group-container{
        width: 100%;
    }
}

@media all and (max-width: 1300px) {
    .navigation-button-text{
        font-size: 1.5em;
    }
}