{% load static %}

<!DOCTYPE html>

<html style="font-size: 10px;
    font-family: Roboto, Arial, sans-serif;position: fixed;
    width: 100%;
    height: 100%;">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-94BXTRQK99"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-94BXTRQK99');
    </script>
    <link rel="preload" href="https://sb-static.s3.eu-west-2.amazonaws.com/static/static/android-chrome-256x256.png" as="image" >

    <meta charset="utf-8"/>
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Westeria</title>
    <meta name="description" content="Discover communities and people you did't know existed. Join the conversation. Become part of the Westeria tree." data-react-helmet="true">
    <link rel="manifest" href="/static/js/manifest.webmanifest" crossorigin="use-credentials">
    <link rel="canonical" href="https://westeria.app" data-react-helmet="true">
    <link rel="search" href="https://westeria.app/google/links/branches">
    <link rel="search" href="https://westeria.app/google/links/posts">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js', {scope: '/'})
               .then(function(reg) {
				reg.onupdatefound = function(){
                        const installingWorker = reg.installing;
                        installingWorker.onstatechange = function(){
                            switch (installingWorker.state) {
                                case 'installed':
                                    if (navigator.serviceWorker.controller) {
                                        document.getElementById('update-notification').classList.add('show-update-notification')
                                    } else {
                                        // no update available
                                        //resolve(false);
                                    }
                                    break;
                            }
                        };
                    };
               });

    }
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'settings/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/auth.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/errors.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/modal.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groups/css/creategroup.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groups/css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'groupchat/css/groupchat.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tree.css' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <meta name="apple-mobile-web-app-title" content="Westeria">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script>
        document.documentElement.className +=
        (("ontouchstart" in document.documentElement) ? ' touch' : ' no-touch');
    </script>
</head>


<body id="body">
    <div id="page" class="page" style="height: 100%;">
        {% block groups %} {% endblock %}
        <div id="react-root" style="height: 100%;">
        </div>
    </div>
    <div id="modal-root"></div>
    <div id="confirmation-modal-root"></div>
    <div id="info-message-root"></div>
    <div id="leaf-preview-root"></div>
    <div id="hoverable-element-root"></div>
    <div id="disable-slide-swipe"></div>
    <div id="hidden-elements"></div>
    <div id="update-notification" class="update-notification">
        <div id="update-box" class="update-box flex-fill center-items">A new version of Westeria is available. Click to refresh</div>
    </div>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/0.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/1.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/2.bundle.js' %}"></script>
</body>

</html>